body {
    font-family: "Roboto", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    padding: .8rem 1rem;
}

.navbar .heading {
    font-size: 30px;
    font-weight: 500;
}

.navbar .links {
    font-size: 19px;
    font-weight: 400;
    margin-top: 5px;
    margin-left: 12rem;
}

#product_container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding: 20px;
}

.product {
    width: 260px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
}

.product_layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.product_Section img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-bottom: 2px solid #ddd;
}

.product_content {
    padding: 10px;
}

.product_content h4 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
}

.product_content h5 {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}

.product-heading {
    text-align: center;
    padding-top: 1.5rem;
    color: rgb(53, 52, 52);
}