* {
    font-size: 12px;
}
@font-face {
    font-family: myPlaygroundFont;
    src: url('./fonts/Playground.ttf');
}
body {
    /* background-image: url("https://images.unsplash.com/photo-1592853625601-bb9d23da12fc?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
        */ font-family: "Dancing Script";
}

/* #first-h3 {
    color: yellow;
    background-color: #670fff;
    opacity: 1;
}

#second-h3 {
    color: green;
    background-color: aqua;
    opacity: 1;
} */

/* .primary-heading-style {
    color: yellow;
    background-color: #670fff;
    opacity: 1;
}

.secondary-heading-style {
    color: green;
    background-color: aqua;
    opacity: 1;
}

#third-h3 {
    color: red;
}

li>a {
    color: yellow;
}

p a {
    color: red;
} */
#third-h3 {
    color: red;
    font-family: 'myPlaygroundFont';
}

h3 {
    color: orange;
}

#first-para {
    font-family: "Roboto";
}
.searchbar {
    text-align: center;
    border: 1px solid black;
    width: 60%;
    margin: 0 auto;
    border-radius: 5px;
}

.searchbar input {
    border: none;
    outline: none;
}

a:link {
    color: yellow;
}

a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}